@import "../styles/global";

.container {

   .content {
      padding: 20px;

      h1 {
         color: $color-palette-3;
         margin-bottom: 30px;
         line-height: 50px;
      }

      h2 {
         margin-top: 30px;
         margin-bottom: 30px;
         line-height: 30px;
         color: $color-palette-9;
      }

      h3 {
         margin-top: 30px;
         margin-bottom: 30px;
         line-height: 25px;
         color: $color-palette-9;
      }

      p {
         margin-bottom: 10px;
         font-size: 18px;
         line-height: 30px;
         text-align: justify;
      }

   }

}