@import "../styles/global";

$footer-height: 100px;

.container {
  background-color: $color-palette-3;
  width: $container-width;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: $container-width;

    .footer {
      margin: 0 auto;
      max-width: $site-width;
      height: $footer-height;
      line-height: $footer-height;
      color: $color-palette-4;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 0px 20px 0px 20px;
    }

}