@import "../styles/global.scss";

.container {
    max-width: $site-width;
    min-height: 140px;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 50px;
  
    .row {
      text-align: center;
      padding: 5px;
    }
  
    .button {
      background-color: $color-palette-1;
      display: inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      height: 30px;
      min-width: 15px;
      line-height: 30px;
      padding-left: 10px;
      margin-right: 10px;
      padding-right: 10px;
      
      margin-bottom: 10px;
  
        &:hover {
          background-color: $color-palette-2;
        }
  
    }
  
    .button-icon {
      @extend .button;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    .button-github {
      @extend .button-icon;
      background-image: url('../images/github.png');
      
    }
  
    .button-linkedin {
      @extend .button-icon;
      background-image: url('../images/linkedin.png');
    }
  
    .link {
      color: $color-palette-1;
      
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
  
      &:hover {
        color: $color-palette-2;
      }
  
      &:not(:last-child) {
        padding-right: 30px;
      }
  
    }
}