@import "../styles/global";

.container {
  position: relative;
  min-height: 100vh;

  .content {
    padding-bottom: 100px;
    margin:0 auto;
    max-width: $site-width;

    a {
      color: $color-palette-8;
    }

    @media screen and (min-width: 1px) and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

}