@import "../styles/global";

.container {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 5px solid $color-palette-9;
  text-align: center;
  text-transform: uppercase;
  color: $color-palette-9;

  .title {
    font-size: 50px;
    line-height: 60px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 100;
  }
}
